# Python specifics
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv

# Database
*.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Node JS
node_modules/
frontend/node_modules/
npm-debug.log
dist/
.DS_Store
